<!DOCTYPE html>
{% set domen = "http://157.245.74.208:3000" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Крестики-Нолики</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ domen }}/static/third-party/bootstrap/dist/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ domen }}/static/css/styles.min.css">

    <title>{{ title }}</title>
</head>
<body>

    {% include "partials/navbar.html" %}

    {% block body %}{% endblock %}

    <!-- Bootstrap -->
    <script src="{{ domen }}/static/third-party/jquery/dist/jquery.slim.min.js"></script>
    <script src="{{ domen }}/static/third-party/popper.js/core/dist/umd/popper.min.js"></script>
    <script src="{{ domen }}/static/third-party/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Socket.io -->
    <script src="{{ domen }}/static/third-party/socket.io/socket.io.js"></script>
    <script>
        vars = {
            id: "{{ id }}",
            username: "{{ username }}",
        }
    </script>
    <script>
        const USERNAME = "{{ username }}";
        const GAME_STATUS = "{{ gameStatus }}";
    </script>
    {% block scripts %}{% endblock %}
    
</body>
</html>