$background-color-primary: #3949ab;
$background-color-primary-dark: #00227b;
$background-color-primary-light: #6f74dd;
$background-color-secondary: #eeeeee;
$background-color-secondary-dark: #bcbcbc;
$background-color-secondary-light: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
$font-family-base: 'Baloo Thambi 2', cursive;

* {
    &:focus {
        outline: none !important;
    }
}

body {
    height: 100vh;
    background-color: $background-color-secondary;
}

.bg-primary {
    background-color: $background-color-primary !important;
}

.navbar {
    margin-bottom: 30px;
}

.navbar-dark {
    background-color: $background-color-primary-dark;
}

.game-card {
    padding-bottom: 0.5rem;
}

.btn-primary-light {
    background-color: $background-color-primary-light;
}

.game-cell {
    border: solid 1px black;
    background: $background-color-secondary-light;
    height: calc(75vh/3);
    width: calc(75vw/3);
    padding: 0;

    &:hover {
        background: $background-color-secondary-dark;
    }

    .game-cell-input {
        width: 100%;
        height: 100%;
        font-size: 8rem;

        &:disabled {
            opacity: 1;
        }
    }
}

div#chat-messages {
    height: 100%;
}
