{% extends "layout/layout.html" %}
{% block body %}
<main class="container">
    <div class="row">
        <div class="col-4"><span id="whoami"></span></div>
    </div>
    <div id="game-field" class="game-field size-{{ fieldLength }} row justify-content-center">
        {% for i in range(0, fieldSize) %}
            {% for j in range(0, fieldSize) %}
                    {% include "partials/gameSell.html" %}
            {% endfor %}
        {% endfor %}

    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{{ domen }}/static/js/game.js"></script>
{% endblock %}
