{% extends "layout/layout.html" %}

{% block body %}

<main class="container h-75">
    <div class="row h-100">

        <!-- Game Cards -->
        <div class="col-12 col-sm-9 h-100">
            <div class="row h-100">
                <div class="d-none d-sm-block col-sm-1 border align-self-center">&#171;</div>
                <div class="col-12 col-sm-10 border">
                    <div id="gamesContainer" class="row">
                        {% for game in games %}
                            {% set name = game.name %}
                            {% set status = game.gameStatus %}
                            {% set id = game._id %}
                            {% include "partials/game-card.html" %}
                        {% endfor %}
                    </div>
                </div>
                <div class="d-none d-sm-block col-sm-1 border align-self-center">&#187;</div>
            </div>
        </div>

        <!-- Filter and Chat Tabs -->
        <div class="col-12 col-sm-3 h-100 border">
            <div class="card text-center h-100">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#chat">Чат</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#filter">Фильтр</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body h-100">
                    <div class="tab-content h-100">
                        <div role="tabpanel" class="tab-pane fade show active h-100" id="chat">
                            <div id="chat-messages"></div>
                            <div class="row align-bottom">
                                <input class="col-8" type="text" id="chat-input">
                                <input type="button" class="btn btn-info col-4" value="Send" id="chat-send-btn">
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="filter">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-9">
            <div class="row justify-content-center mt-3">
                <input type="button" class="btn btn-primary col-3" data-toggle="modal" data-target="#createGameFormModal"
                       value="Создать комнату"/>
            </div>
        </div>
    </div>
</main>

{% include "partials/createGameFormModal.html" %}

{% endblock %}

{% block scripts %}
<script src="{{ domen }}/static/js/index.js"></script>
{% endblock %}
