.cell {
  height: calc(100%/5);
}

.game-field {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
}

.size-3 {
  -ms-grid-rows: (30%)[3];
      grid-template-rows: repeat(3, 30%);
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
}

.size-4 {
  -ms-grid-rows: (30%)[4];
      grid-template-rows: repeat(4, 30%);
  -ms-grid-columns: (30%)[4];
      grid-template-columns: repeat(4, 30%);
}

.size-5 {
  -ms-grid-rows: (20%)[5];
      grid-template-rows: repeat(5, 20%);
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
}

.size-6 {
  -ms-grid-rows: (15%)[6];
      grid-template-rows: repeat(6, 15%);
  -ms-grid-columns: (15%)[6];
      grid-template-columns: repeat(6, 15%);
}

.size-7 {
  -ms-grid-rows: (30%)[3];
      grid-template-rows: repeat(3, 30%);
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
}

.size-3 {
  -ms-grid-rows: (30%)[3];
      grid-template-rows: repeat(3, 30%);
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
}

.size-3 {
  -ms-grid-rows: (30%)[3];
      grid-template-rows: repeat(3, 30%);
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
}

.size-3 {
  -ms-grid-rows: (30%)[3];
      grid-template-rows: repeat(3, 30%);
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
}

.size-3 {
  -ms-grid-rows: (30%)[3];
      grid-template-rows: repeat(3, 30%);
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
}

.size-3 {
  -ms-grid-rows: (30%)[3];
      grid-template-rows: repeat(3, 30%);
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
}
