<div class="card">
    <div class="card-body game-card">
        <h5 class="card-title">{{ name }}</h5>
        <h6 class="card-subtitle text-muted">PvP / PvE</h6>
        <dl class="row mb-0 mt-3">
            <dt class="col-6">Статус</dt>
            <dd class="col-6">играют</dd>
        </dl>
        <div class="row justify-content-center">
            <a href="/game/{{ id }}" class="card-link btn-primary btn-primary-light btn-sm text-white text-center w-100">Join</a>
        </div>
        </div>
</div>
