<div class="col-4 mb-1 mt-2">
    <div class="card">
        <div class="card-body game-card">
            <h5 class="card-title">{{ name }}</h5>
            <h6 class="card-subtitle text-muted">PvP / PvE</h6>
            <dl class="row mb-0 mt-3">
                <dt class="col-5">Статус</dt>
                <dd class="col-7">
                    {% if status == 0 %}
                    ожидание
                    {% elif status == 1 %}
                    играют
                    {% endif %}
                </dd>
            </dl>
            <div class="row justify-content-center">
                <a href="/game/{{ id }}"
                   class="card-link btn-primary btn-primary-light btn-sm text-white text-center w-100">Присоединиться</a>
            </div>
        </div>
    </div>
</div>
